<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSP_Customer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
				<key>dateExpires</key>
				<string>10/09/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DPOTPView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HCSStarRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NHRangeSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97A9E2DE74DC33F6BB50BFE265D0E283A2D79792</string>
						<key>dateExpires</key>
						<string>10/09/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>2HG885J5KS.Loyltwo3ks-Pvt-Ltd.MSP-Customer.NotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>2HG885J5KS</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5b699eb8-5c18-426c-b64c-d6999e8d9133</string>
						<key>dateExpires</key>
						<string>08/12/23</string>
						<key>name</key>
						<string>MSP_CustomerDevelopmentNotification</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HG885J5KS</string>
						<key>name</key>
						<string>Loyltwo3ks It Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2HG885J5KS.Loyltwo3ks-Pvt-Ltd.MSP-Customer</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2HG885J5KS</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MSP_Customer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e6e35de9-ffd7-4189-8a17-cb1de7b17a1f</string>
				<key>dateExpires</key>
				<string>08/12/23</string>
				<key>name</key>
				<string>MSP_Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2HG885J5KS</string>
				<key>name</key>
				<string>Loyltwo3ks It Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
