<!DOCTYPE html>
<html>
    <head>
        <title>MSP UDAAN CONTRACTOR LOYALTY PROGRAM - FAQ</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
        
            body {
                font-family: 'Segoe regular';
            }
        
        
            button.accordion {
                background-color: #4570a930;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
                font-family: 'Segoe regular';
                font-weight: 400;
            }
        
                button.accordion.active, button.accordion:hover {
                    background-color: #E52429;
                    color: #fff;
                    content: "\2212";
                }
        
            .accordion:after {
                content: '\002B';
                color: rgb(255 255 255);
                font-weight: 400;
                float: right;
                margin-left: 5px;
                font-family: 'Segoe regular';
            }
        
            .accordion.active:after {
                content: "\2212";
                color: rgb(255, 255, 255);
            }
        
            .panel {
                padding: 1px 18px 0px 18px;
                background-color: white;
                max-height: 0;
                color: black;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        
            .faq {
                background-color: #2b2b2b;
            }
        
            .boxpading {
                padding: 0 150px 0 150px;
            }
        
            .gaptoall {
                padding: 10px 0 10px 0;
            }
        
            .title {
                font-size: 70px;
                margin: 0;
                padding: 160px 0px 8px 80px;
                color: #fff;
                font-family: 'Segoe regular';
            }
        
            .headingtag {
                font-size: 30px;
                margin: 0;
                padding: 5px 0 25px 80px;
                color: #fff;
                font-family: 'Segoe regular';
            }
            .faqmsp{
                color: #fff;
                padding: 15px 0;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                font-family: 'Segoe regular';
            }
        </style>
    </head>    
<body>
    <div class="faq">

        <div class="container">
             <div class="row">
                <div class="col-md-12 faqmsp">MSP UDAAN CONTRACTOR LOYALTY PROGRAM - FAQs</div>
             </div>
            <div class="row">

                <div class="col-md-12">

                    <!----------QA-01--------->
                    <button class="accordion">WHAT IS MSP UDAAN CONTRACTOR LOYALTY PROGRAM?</button>
                    <div class="panel" style="">
                        <p class="gaptoall">MSP Udaan Contractor Loyalty Program is a Loyalty Program from MSP where contractor partners can earn points against purchases of TMT Bars made from authorised MSP dealers and redeem their points against any gifts of their choice.</p>
                    </div>
                    <!----------QA-02--------->
                    <button class="accordion">WHO CAN JOIN THE PROGRAM?</button>
                    <div class="panel" style="">
                        <p class="gaptoall">Only Contractor partners who are above 18 years old and a contractor profession and a resident of India purchasing MSP TMT Bars from authorized MSP dealers selling MSP TMT Bars.</p>
                    </div>
                    <!----------QA-03--------->
                    <button class="accordion">HOW TO REGISTER IN THE PROGRAM?</button>
                    <div class="panel" style="">
                        <li class="gaptoall">Registration can be done by downloading the MSP Udaan loyalty program app and following the steps to fill mandatory details (Name, age, address, Aadhar no, dealer name, mobile no. etc) in order to register.</li>
                        <li class="gaptoall">It is recommended that registrations be done by contacting the MSP Technical Service officers in your area and filling in all statutory details as required.</li>
                        <li class="gaptoall">Call us on the HELPLINE for more details.</li>
                    </div>
                    <!----------QA-04--------->
                    <button class="accordion">HOW TO LOG IN TO THE MSP UDAAN AATHI APP?</button>
                    <div class="panel" style="">
                        <p class="gaptoall">Registered contractors can log in through using their registered mobile numbers. After that an OTP will be sent for verification. After entering the OTP the MSP UDAAN account will be activated.</p>
                    </div>
                    <!----------QA-05--------->
                    <button class="accordion">WHAT AM I AGREEING TO JOIN THE PROGRAM?</button>
                    <div class="panel" style="">
                        <p class="gaptoall">By joining the Program, you agree that you have read, understood and agree to be bound by the MSP Udaan Program Terms and Conditions and by any changes or modifications we may make to the Program terms and conditions.</p>
                    </div>
                    <!----------QA-06--------->
                    <button class="accordion">HOW WILL YOU USE THE INFORMATION I PROVIDE THROUGH THE PROGRAM?</button>
                    <div class="panel">
                        <p class="gaptoall">The personal information collected in connection with the Program is subject to our Privacy Policy as stated under the Terms & Conditions.</p>
                    </div>
                    <!----------QA-07--------->
                    <button class="accordion">HOW DOES THE PROGRAM WORK?</button>
                    <div class="panel">
                        <li class="gaptoall">First contractor has to enrol for the program as mentioned above.</li>
                        <li class="gaptoall">Place orders for MSP TMT Bars directly from the authorised dealers of the Company, log in claims based on orders and accumulate points upon approval of claims.</li>
                        <li class="gaptoall">Track  performance on the MSP Udaan app and plan your Tier movements based on your accumulation of points.</li>
                        <li class="gaptoall">Choose your gifts from the Gift catalogue and redeem against points earned.</li>
                        <li class="gaptoall">Set your Dream Gift and plan your orders accordingly in consultation with your authorised MSP TMT BARS dealers and MSP Technical Sales officers.</li>
                    </div>
                    <!----------QA-08--------->
                    <button class="accordion">HOW DO I EARN POINTS?</button>
                    <div class="panel">
                        <li class="gaptoall">You can earn points by purchasing MSP TMT BARS from authorised MSP dealers.</li>
                        <li class="gaptoall">For every one tonne of MSP TMT Bars procured, you earn 10 loyalty points. For smaller orders, you can earn points proportional to your order volume.</li>
                    </div>
                    <!----------QA-09--------->
                    <button class="accordion">HOW DO I QUALIFY FOR EACH PROGRAM TIER?</button>
                    <div class="panel">
                        <li class="gaptoall">Program tiers are based on your qualifying purchases and actions in a rolling 365-day period.</li>
                        <li class="gaptoall">For 365-days period after which you join the Program and/or enter a new Tier, you will earn Points from your qualifying purchases and actions based on the Multiplier benefit rate for that Tier.</li>
                        <li class="gaptoall">Your Tier level for the subsequent annual period will be based on Transactions made from your qualifying purchases and actions, starting the first day after your enrolment and/or entry into a new Tier and ending on or around Day 365.</li>
                        <li class="gaptoall">On Day 366, you may be placed in a different Tier depending on the volume of transactions you made in the immediately preceding 365-day period.</li>
                        <li class="gaptoall">Tier upgrade - As and when the actual purchase points earned by the contactor partners reaches the tier milestone (refer to the tier design) in the last 365 days,the tier is auto-upgraded.</li>
                        <li class="gaptoall">Tier dwelling rule - Continue enjoying your tier benefits to the fullest without any interruption. All you have to do is retain 75% of the point earnings you gather from the date of hitting a tier milestone until the next exit date—12 months from the date of enrolment.</li>
                        <li class="gaptoall">Tier downgrade - Failure to retain a minimum 75% of the purchase points on a yearly cycle basis will result in automatic tier downgrade. Any downgrade will be effective after 12 months from the date of the last upgrade.</li>
                    </div>
                    <!----------QA-10--------->
                    <button class="accordion">HOW DO I REDEEM POINTS FOR REWARDS?</button>
                    <div class="panel">
                        <li class="gaptoall">Open the MSP  Udaan App and Click on Reward Catalogue.</li>
                        <li class="gaptoall">Click on Reward Catalogue and choose the gift that you want to redeem.</li>
                        <li class="gaptoall">You can redeem any gift within 90% of your accumulated points.</li>
                        <li class="gaptoall">Gift will be delivered to your registered address only (as given at the time of registration) within 30 days.</li>
                        <li class="gaptoall">You can also redeem by calling the Helpline Number.</li>
                    </div>
                    <!----------QA-11--------->
                    <button class="accordion">WHEN WILL MY POINTS BE AVAILABLE?</button>
                    <div class="panel">
                        <li class="gaptoall">Register your MSP TMT Bars purchases in the MSP UDaan app and claim your points from the concerned associated MSP TMT Bar dealer.</li>
                        <li class="gaptoall">You can also register your purchases by calling the Helpline Number.</li>
                        <li class="gaptoall">All claims will be visible to the respective dealers for approval.</li>
                        <li class="gaptoall">Dealers will have the option to approve / reject / edit the quantity of request raised.</li>
                        <li class="gaptoall">Post Dealer approval the points will be visible in your account and be visible to the Company Technical Sales executive.</li>
                        <li class="gaptoall">All Pending Point Claims will be escalated to the next level after a defined period and addressed by the Admin / Backend team.</li>
                    </div>
                    <!----------QA-12--------->
                    <button class="accordion">WHAT IF MY POINTS ARE NOT SHOWING IN MY ACCOUNT?</button>
                    <div class="panel">
                        <li class="gaptoall">If you have concerns that a purchase or other action was not properly applied to your Member account, you should contact us on the Helpline  number.</li>
                    </div>
                    <!----------QA-13--------->
                    <button class="accordion">DOES MEMBERSHIP EVER EXPIRE?</button>
                    <div class="panel">
                        <li class="gaptoall">Program membership will remain open till the time the program runs or till the time the Contractor resigns from the program or the Company cancels the membership of the Contractor.</li>
                        <li class="gaptoall">Points earned in the program will never expire. However, all members must make atleast one purchase every 6 months in order to be permitted to redeems Points.</li>
                    </div>
                    <!----------QA-14--------->
                    <button class="accordion">CAN MY MEMBERSHIP BE REVOKED?</button>
                    <div class="panel">
                        <li class="gaptoall">Your membership may be revoked by the Company in its sole discretion, at any time.</li>
                        <li class="gaptoall">Any abuse of the Program; failure to follow any of these Terms; misrepresentation; or conduct that may be detrimental to the interests of any of the Group companies of MSP Group may result in the revocation of your membership and make you ineligible for further participation in the Program.</li>
                    </div>
                    <!----------QA-15--------->
                    <button class="accordion">WHAT HAPPENS TO MY POINTS IF MY MEMBERSHIP IS REVOKED?</button>
                    <div class="panel">
                        <p class="gaptoall">If your membership is revoked, any Points or Rewards in your account or available to you prior to such termination will automatically expire, and your access to the Program and its features will automatically terminate.</p>
                    </div>
                    <!----------QA-16--------->
                    <button class="accordion">CAN THE PROGRAM BE MODIFIED OR TERMINATED?</button>
                    <div class="panel">
                        <p class="gaptoall">Yes. The Company in its sole discretion may cancel, amend, modify, restrict, and/or terminate the Program, the Program Terms, or any aspect or features of the Program, at any time without prior notice, even if such changes may affect Points already earned and/or the value of Rewards already accumulated and/or the ability to redeem Rewards.</p>
                    </div>
                    <!----------QA-17--------->
                    <button class="accordion">HOW DO I TERMINATE / CANCEL MY PROGRAM MEMBERSHIP?</button>
                    <div class="panel">
                        <p class="gaptoall">If you decide that you no longer want to be part of the Program, you may cancel your membership at any time by contacting the MSP Udaan Helpline number.</p>
                    </div>
                    <!----------QA-18--------->
                    <button class="accordion">WHAT HAPPENS TO MY POINTS IF I TERMINATE / CANCEL MY PROGRAM MEMBERSHIP?</button>
                    <div class="panel">
                        <p class="gaptoall">You can redeem your points accumulated till that time subject to adherence to statutory norms.</p>
                    </div>
                    <!----------QA-19--------->
                    <button class="accordion">CAN I BUY MSP TMT BARS FROM ANYWHERE?</button>
                    <div class="panel">
                        <p class="gaptoall">Yes. You can buy MSP TMT BARS from any authorised MSP Dealer.</p>
                    </div>
                    <!----------QA-20--------->
                    <button class="accordion">CAN I GET CASH INSTEAD OF GIFTS?</button>
                    <div class="panel">
                        <p class="gaptoall">The program only allows you to redeem gifts.</p>
                    </div>
                    <!----------QA-21--------->
                    <button class="accordion">CAN I TRANSFER MY POINTS TO ANOTHER CONTRACTOR?</button>
                    <div class="panel">
                        <p class="gaptoall">Earned points are non-transferrable.</p>
                    </div>
                    <!----------QA-22--------->
                    <button class="accordion">HOW DO I CHANGE MY REGISTERED MOBILE NO?</button>
                    <div class="panel">
                        <p class="gaptoall">To change the registered Mobile number, contact MSP UDAAN Helpline.</p>
                    </div>
                    <!----------QA-23--------->
                    <button class="accordion">HOW CAN I KNOW MY CURRENT POINT STATUS?</button>
                    <div class="panel">
                        <p class="gaptoall">You can check your points in your MSP UDAAN App or can call the Helpline number.</p>
                    </div>
                    <!----------QA-24--------->
                    <button class="accordion">WHAT HAPPENS IF I FIND GIFTS TO BE INCORRECTLY REDEEMED OR FAULTY OR I HAVE QUERIES?</button>
                    <div class="panel">
                        <p class="gaptoall">You can contact the MSP UDAAN Helpline.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>   
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    var firstAccordion = acc[0];
    var firstPanel = firstAccordion.nextElementSibling;
    firstAccordion.classList.add("active");
    firstPanel.style.maxHeight = firstPanel.scrollHeight + "px";

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {

            var isActive = this.classList.contains("active");

            var allAccordions = document.getElementsByClassName("accordion");
            for (j = 0; j < allAccordions.length; j++) {
                allAccordions[j].classList.remove("active");

                var panel = allAccordions[j].nextElementSibling;
                var maxHeightValue = getStyle(panel, "maxHeight");

                if (maxHeightValue !== "0px") {
                    panel.style.maxHeight = null;
                }
            }

            isActive ? this.classList.remove("active") : this.classList.add("active");

            var panel = this.nextElementSibling;
            var maxHeightValue = getStyle(panel, "maxHeight");

            if (maxHeightValue !== "0px") {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        };
    }

    function getStyle(el, styleProp) {
        var value, defaultView = (el.ownerDocument || document).defaultView;
        if (defaultView && defaultView.getComputedStyle) {
            styleProp = styleProp.replace(/([A-Z])/g, "-$1").toLowerCase();
            return defaultView.getComputedStyle(el, null).getPropertyValue(styleProp);
        } else if (el.currentStyle) {
            styleProp = styleProp.replace(/\-(\w)/g, function (str, letter) {
                return letter.toUpperCase();
            });
            value = el.currentStyle[styleProp];
            if (/^\d+(em|pt|%|ex)?$/i.test(value)) {
                return (function (value) {
                    var oldLeft = el.style.left, oldRsLeft = el.runtimeStyle.left;
                    el.runtimeStyle.left = el.currentStyle.left;
                    el.style.left = value || 0;
                    value = el.style.pixelLeft + "px";
                    el.style.left = oldLeft;
                    el.runtimeStyle.left = oldRsLeft;
                    return value;
                })(value);
            }
            return value;
        }
    }
</script> 
</html>